##################################
### UiPath Ignore Folders      ###
##################################
## Ignore .local folder
.local
.local/*
/.local
/.local/*

## Ignore .objects folder
.objects
.objects/*
/.objects
/.objects/*

## Ignore .settings folder
.settings
.settings/*
/.settings
/.settings/*

## Ignore .tmh folder
.tmh
.tmh/*
/.tmh
/.tmh/*